/* Write your CSS here */
.latest-match-container {
  display: flex;
  flex-direction: column;
}
.latest-match-heading {
  color: white;
  font-size: 20px;
  font-family: Bree Serif;
}
.latest-match-card {
  display: flex;
  justify-content: space-between;
  background-color: #1e293b;
  padding: 10px;
  border-radius: 10px;
}
@media (max-width: 767px) {
  .latest-match-card {
    display: flex;
    flex-direction: column;
    background-color: #1e293b;
    padding: 10px;
    border-radius: 10px;
    align-items: flex-start;
  }
  .hrpzeon{
    width: 100%;

  }
  .latest-match-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 500px;
}
  .latest-match-details-2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}
.latest-match-details-logo-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.latest-match-details-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 40px;
}
.latest-match-team-name {
  font-size: 20px;
  color: white;
  font-family: Bree Serif;
}
.latest-match-date {
  font-size: 15px;
  color: white;
  font-family: Bree Serif;
}
.match-details {
  color: white;
  font-family: Bree Serif;
}
.latest-match-team-logo {
  width: 200px;
  align-self: center;
  height: 200px;
}
.latest-match-details-2 {
  text-align: right;
}
.latest-match-details-label {
  color: white;
  font-family: Bree Serif;
  font-size: 16px;
}
.latest-match-details-value {
  color: white;
  font-family: Bree Serif;
  font-size: 10px;
}
.hrpzeon{
  display: none;
}